@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@500;600&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #4d4d4d;
    color: #fff;
    padding: 10px;
    margin: 0;
}

#container {
    max-width: 803px;
    height: 1133px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    background: #ffffff;
}

h5 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.left {
    flex-basis: 50%;
    padding: 10px;
}

.right {
    flex-basis: 50%;
}

.b-flex {
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 0;
}

.info {
    display: flex;
    margin: 10px;
    align-items: center;
}

.info i {
    font-size: 20px;
    background: #4d4d4d;

    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
}

.desc {
    padding-left: 10px;
    margin-left: 10px;
}

.info p {
    margin: 0;
}

h3 {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.project {
    text-decoration: none;
    color: #4d4d4d;

}

span {
    font-weight: bold;
}


.skill {
    background: #4d4d4d;
    color: #fff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    border: none;
    margin: 5px;
    padding: 8px 15px;
}


@media (max-width:702px) {
    .content {
        display: block;

    }

    #container {
        height: auto;

    }

    .left {
        border: none;
    }
}

@media (max-width:540px) {
    .b-flex {
        display: block;
    }
}

@media (max-width:350px) {
    .desc p {
        font-size: 12px;
    }
}

@media (max-width:315px) {
    .header {
        font-size: 28px;
    }
}